<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wangzhumo.app.webrtc">

    <application>
        <activity android:name=".page.RtcCallActivity">
        </activity>
        <activity android:name=".page.WebRtcActivity">
        </activity>
    </application>

</manifest>