<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.wangzhumo.app.module.opengl">

    <application>
        <activity android:name=".customgl.CustomGLSurfaceActivity"></activity>
        <activity android:name=".justshow.JustShowActivity" />
        <activity android:name=".OpenGLActivity" />
    </application>

</manifest>