<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangzhumo.app.module.opengl">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application>
        <activity android:name=".cpp.CppYuvActivity"></activity>
        <activity
            android:name=".cpp.OpenGLCppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".camera.GLCameraPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".image.GLImageActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".fbo.GLFboImageActivity" />
        <activity android:name=".matrix.GLFboMatrixActivity" />
        <activity android:name=".multi.GLFboMultiActivity" />
        <activity
            android:name=".customgl.CustomGLSurfaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".justshow.JustShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OpenGLActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>