<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.wangzhumo.app.module.media">

    <application>
        <activity android:name=".opengl.picture.PictureActivity"></activity>
        <activity android:name=".opengl.triangle.TriangleActivity" />
        <activity android:name=".targets.task4.Task4Activity" />
        <activity
                android:name=".opengl.camera.CameraActivity"
                android:hardwareAccelerated="true" />
        <activity android:name=".targets.task3_2.Task32Activity" />
        <activity android:name=".targets.task3_1.Task31Activity" />
        <activity
                android:name=".opengl.opengl1.OpenGL1Activity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".targets.task3.Task3Activity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".targets.task2.Task2Activity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".targets.task1.Task1Activity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".CppActivity"
                android:screenOrientation="portrait" />
    </application>

</manifest>